.star {
    background-image: url("project://database/Assets/Sprites/star.png?fileID=4815476061570213978&guid=2b71baa195d2e9e469f079f67c7c10d6&type=3#star_0");
}

.button {
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
