.button-grid {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: rgb(154, 154, 154);
}

.container {
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-image: url("project://database/Assets/Art/12312.png?fileID=-137891648202703579&guid=0ea3dac95c6e964b0ba5a4333944f915&type=3#12312_0");
}
