.star {
    background-image: url("project://database/Assets/Art/star.png?fileID=2800000&guid=2b71baa195d2e9e469f079f67c7c10d6&type=3#star");
}

.button {
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
